<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    

    <title>Carousel Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="/bootstrap/css/carousel.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Local Quest</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#About">About</a></li>
                <li><a href="#About">Contact</a></li>
                <li><a href="#API">Products</a></li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="images/slider1.png" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Local Quest</h1>
              <p>Bringing back social gaming.</p>
              <p><a class="btn btn-lg btn-primary" href="/game" role="button">Start Here</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="images/slider2.png" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Start your quest today</h1>
              
              <p><a class="btn btn-lg btn-primary" href="/Game" role="button">Play Our Game</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          
          <div class="container">
            <div class="carousel-caption">
              <img src="/images/api.png" alt="Third slide" style="width:250px;">
              <h1>Implement localized data</h1>
              <p>Our specialized API allows users and developers access to real world geolocation data on a localized level.</p>
              <p><a class="btn btn-lg btn-primary" href="#API" role="button">Learn More</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing" >

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="/images/slider-square.png" style="width: 150px;">
          <h2>ABOUT US</h2>
          <p>We are a software company that develops specialized geolocation proximity APIs (application programming interfaces) and online RPGs (role playing games).
          </p>
          <p><a class="btn btn-default" href="#About" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/images/logo-swabq.png" style="height: 150px;">
          <h2>OUR MISSION</h2>
          <p>Our mission is to increase the social aspect of online gaming. We can do this by adding a new dimension to existing game play through geolocation data.</p>
          <p><a class="btn btn-default" href="#About" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="/images/api.png" alt="Generic placeholder image" style="height: 150px;">
          <h2>OUR PRODUCTS</h2>
          <p>Licensing custom APIs that can be integrated into existing games along with our flagship game development. </p>
          <p><a class="btn btn-default" href="#API" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7" id="About">
          <h2 class="featurette-heading">ABOUT US 
          </h2>
          <p class="lead">Local Quest is a software company that develops specialized geolocation proximity APIs (application programming interfaces) and online RPGs (role playing games). Our mission is to increase the social aspect of online gaming. We can do this by adding a new dimension to existing game play through geolocation data.Contact us at Local.quest.game@gmail.com for more information.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/images/slider-square.png" alt="Generic placeholder image" style="width:350px;">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7" id="API">
          <h2 class="featurette-heading">OUR PRODUCTS <span class="text-muted">Geolocation API</span></h2>
          <p class="lead">The API that we are currently developing provides geolocation data that increases the social dimension of online game play. The API be can integrated into existing games, increasing the growth rate of the game and user retention. This technology can also be applied outside of the gaming industry as well. We envision new media artists integrating our API into interactive installations. </p>
        </div>
        <div class="col-md-5">
          <img src="/images/api.png" class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    
    
  </body>
</html>
