<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Local Quest!</title>
  <script type="text/javascript" src="/js/phaser.min.js"></script>
  <script src="/js/socket.io.js"></script>
  <script>
    var socket = io();
    // This will send back an id unique to the player
    socket.on('id', function(id) {
      initGame(id);
    });
  </script>
  <style type="text/css">
  body {
    margin: 0;
  }
  #localquest-game {
 	position: absolute;
 	margin: auto;  
  	left:0;
  	right: 0;
  }
#chatinputd {
    position: absolute;
    left: 300px;
    top: 378px;
}   </style>
  
</head>
<body onload="document.getElementById('chatinput').focus();">
<table>
<tr><td >
	<center>
	<div id="localquest-game" ></div>
	</center>
</td></tr>
<tr><td>
	<div id="chatinputd">
		<script type="text/javascript" src="/js/game.js"></script>
		<form onsubmit="playerChat(document.getElementById('chatinput').value);document.getElementById('chatinput').value='';return false;">
			<input id="chatinput" type="text" size="40" /><input type="submit" value="Chat" ></input>
		</form>
	</div>
</td></tr>
</table>
</body>
</html>
